<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Status Change on <%= @project.project_name  %> </h1>
<p>
  Status changed to <%= @project.project_status.project_status_name  %>
</p>
</body>
</html>
