<body class="main" style="background-image: url(<%= asset_path 'blurred.jpg' %>)"  >

<!--/span-->
<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <!--/span-->
    <div class="col-xs-12 col-sm-9 content">
      <div class="container">

        <br/>
        <table class="table table-striped DataTables">
            <thead class="background">
            <tr>
              <th colspan="4">Users List</th>
            </tr>
            <tr>
              <th>User</th>
              <th>Role</th>
              <th colspan="2">Actions</th>
            </tr>

            </thead>
            <tbody class="background">
            <% @users.each do |user| %>
                <tr>
                  <%= render user %>
                </tr>
            <% end %>
            </tbody>
          </table>
        <br>



        </div>
      </div>
    </div><!--/span-->

  </div><!--/row-->

</div><!-- /.container -->

</body>


