<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal3">
  Add New Contact
</button>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal4">
  Select Existing Contact
</button>