<%- model_class = ProcurementTool -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Procurement Tool Name:</strong></dt>
  <dd><%= @procurement_tool.procurement_tool_name %></dd>
</dl>

<div class = "showPageButton">
<%= link_to t('.back', :default => t("helpers.links.back")),
              procurement_tools_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_procurement_tool_path(@procurement_tool), :class => 'btn btn-default' %>

</div>