<table class="table table-striped DataTables">
  <thead>
  <tr>
    <th>ID</th>
    <th>Client Name</th>
    <th>Billing Address</th>
    <th>Billing City</th>
    <th>Billing Zip</th>
    <th>State</th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>